body {
  font-family: "Jost";
  font-weight: 300;
}

p {
  font-family: "Jost";
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
  color: #8f8f8f;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.3;
}

h4 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
}

.introduction {
  margin-top: 7rem;
  /* padding-top: 3rem; */
}

/* title stuff */
#title {
  background-color: #1363DF;
  color: #DFF6FF;
  /* margin-bottom: 0; */
}

.container-fluid {
  padding: 3% 12%;
  padding-bottom: 0;
}

/* .header-stuff{
  padding-bottom: 0;
} */
/* title section buttons */
.header-btn1 {
  border-radius: 0;
  margin: 6% 2% 0 0;
}

.header-btn2 {
  border-radius: 0;
  margin: 6% 2% 0;
}

/* navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 700;
  color: #DFF6FF;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
}
.social-icons{
  margin: 0 3%;
}

.nav-social-media:link {
  color: #06283D;
}

/* title image */
.my-image {
  width: 100%;
  margin: auto;
  /* margin-top: 10%; */
}

/* features */
#features {
  background-color: #DFF6FF;
  color: #06283D;
  /* position: relative;
z-index: 1; */
}

.feature-text {
  padding: 5%;
  text-align: center;
}

.feature-icon {
  margin-bottom: 1rem;
  color: #1363DF;
}

.feature-icon:hover {
  color: #47B5FF;
}

/* Testimonial */
#testimonials {
  padding: 7% 25%;
  text-align: center;
  background-color: #06283D;
  color: #DFF6FF;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  margin-bottom: 5px;
}

.testimonial-name {
  display: block;
}

/* Press and logos */
#press {
  padding: 2% 10%;
  text-align: center;
  background-color: #06283D;
}

.press-logo {
  width: 10%;
  margin: 0 3%;
}

/* my Creatives */
#creatives {
  padding: 4% 7%;
  text-align: center;
  background-color: #DFF6FF;
}

.card-img-top:hover {
  color: #8f8f8f;
}

.card {
  background-color: #06283D;
  color: #DFF6FF;
}

.creative-column {
  padding: 3% 2%;
}

.card-title {
  padding-top: 10px;
}

.mx-auto {
  border-radius: 0;
}

/* call to action */
#cta {
  padding: 4% 7%;
  text-align: center;
  color: #DFF6FF;
  background-color: #06283D;
}

.cta-button {
  border-radius: 0;
  margin: 3% 2% 0;
}


/* footer */

#footer{
  padding: 3% 7% 1%;
  text-align: center;
  color: #DFF6FF;
  background-color: #06283D
}

.social-media-icons{
margin-top: 5%;
margin-bottom: 5%;

}

.fa-brands{
  margin: 0 2%;
}




 @media (max-width: 1200px) {
  h1 {
    font-size: 2rem;
    line-height: 1;
  }

  .header-stuff {
    text-align: center;
  }

  .my-image {
    width: 70%;
  }

  .introduction {
    margin-top: 2rem;
  }

  .cta-text{
    font-size: 1.2rem;
    line-height: 1.3
  }

  .creatives-text{
    font-size: 1.3rem;
    line-height: 1;
  }

  .footer-text{
    font-size: 0.8rem;
    line-height: 1.5;
  }
}
